


.sign__up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}

.sign__up__title {
    display: grid;
    place-items: center;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
  
    
}

.sign__up__email ,.sign__up__password {
    display: flex;
    flex-direction: column;
   
    display: flex;
    padding: 2%;
    
}

.sign__up__email input , .sign__up__password input {
    padding: 2%;
}

.sign__up__email label ,.sign__up__password label {
    padding: 2%;
    font-weight: 500;
}

.sign__up__btn {
   
    margin: 5%;
    display: grid;
    place-items: center;

}

.sign__up__btn button {
    border: none;
    padding: 3%;
    color: whitesmoke;
    background-color: black;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
}
.sign__up_toLogin {
    font-weight: 500;
}

.form__error {
    color: rgb(231, 71, 71);
    font-weight: 400;
}

@media only screen and (max-width: 411px) {
    .form {
        width: 100%;
        height: 100%;
    }

    .sign__up {
        display: grid;
        place-items: center;
    }
  }